.courses{
  .course {
    margin-bottom: $s2;
    .course-body{
      padding: $s1;
      padding-left: $s3;
    }
    .course-info,
    .course-credit{
      font-size: $font-size-sm;
    }
    .course-name {
      margin-left: $s2;
      padding-left: $s2;
      border-left: 1px solid $gray-400;
      color: $gray-400;
    }

    $leftWidth: 3rem;
    $iconWidth:1rem;
    $iconShift: ($leftWidth - $iconWidth) / 2;
    // $iconShift: 1px;
    &.suggestion{
      border-left-width: $leftWidth;
      border-left-color: $blue;
      position: relative;
      &:before{
        content:"";
        position: absolute;
        top: 50%;
        right: calc(100% + #{$iconShift}) ;
        transform: translate(0,-50%);
        width: $iconWidth;
        height: $iconWidth;
        // background-color: rgba($red, 0.5);
        background-image: url(../svg/plus.svg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
